#### Palindrome check

In [ ]:
def check_palindrome(string):
  string = string.lower()
  if string == string[::-1]:
    return True
  else:
    return False

In [ ]:
user_text = input("Enter string to check palindrome: ")
print(f"Palindrom :{check_palindrome(user_text)}")

Enter string to check palindrome: Naan
Palindrom :True

### Substring occurences

In [ ]:
def substring_count(string, sub):

    count = 0
    for i in range(0, len(string)):
        if string[i:(i+len(sub))] == sub:
            count += 1
    return count

string = "ABCCCCDC"
sub = "CD"
substring_count(string, sub)

1

### Rock Paper Scissors - 2 users 10 rounds

In [ ]:
rules = {'R':'S',
         'P':'R',
         'S':'P'}
def play_round(rules):
  print("Choose 'R','P' or 'S'")
  user1 = input("Player 1 : ")
  user2 = input("Player 2 : ")
  if user1 not in rules.keys() or user2 not in rules.keys():
    print("Invalid input")
  elif user1==user2:
    return 0
  else:
    if rules[user1]==user2:
      return 1
    else:
      return 2
rounds = []
for round in range(10):
  print(f"Round {round+1}")
  winner = play_round(rules)  
  if winner == 0:
    print("Draw")
    rounds.append(0)
  elif winner ==1:
    print("Player 1 wins")
    rounds.append(1)
  elif winner ==2:
    print("Player 2 wins")
    rounds.append(2)

if max(rounds,key=rounds.count)==0:
  print("Match Draw")
else:
  print(f"Player {max(rounds,key=rounds.count)} :) won the game !!")

Round 1
Choose 'R','P' or 'S'
Player 1 : R
Player 2 : P
Player 2 wins
Round 2
Choose 'R','P' or 'S'
Player 1 : S
Player 2 : S
Draw
Round 3
Choose 'R','P' or 'S'
Player 1 : P
Player 2 : S
Player 2 wins
Round 4
Choose 'R','P' or 'S'
Player 1 : S
Player 2 : R
Player 2 wins
Round 5
Choose 'R','P' or 'S'
Player 1 : R
Player 2 : S
Player 1 wins
Round 6
Choose 'R','P' or 'S'
Player 1 : P
Player 2 : S
Player 2 wins
Round 7
Choose 'R','P' or 'S'
Player 1 : R
Player 2 : P
Player 2 wins
Round 8
Choose 'R','P' or 'S'
Player 1 : P
Player 2 : S
Player 2 wins
Round 9
Choose 'R','P' or 'S'
Player 1 : S
Player 2 : P
Player 1 wins
Round 10
Choose 'R','P' or 'S'
Player 1 : R
Player 2 : P
Player 2 wins
Player 2 :) won the game !!

### Price min and max

In [ ]:
import json
f = open('data.json')
data = json.load(f)

In [4]:
with open("sample_data.json") as fin1:
    data1 = json.load(fin1)
with open("data-2.json") as fin2:
    data2 = json.load(fin2)

data1.extend(data2)
with open("data.json") as fin3:
    data3 = json.load(fin3)

data1.extend(data3)
with open("merged.json", "w") as fout:
    json.dump(data1, fout)

In [9]:
dataset = []
for i in range(len(data1)):
  dataset.append([data1[i]['time']['updated'],data1[i]['bpi']['USD']['rate_float'],data1[i]['bpi']['GBP']['rate_float']])
dataset[:5],len(dataset)

([['Jan 15, 2023 09:46:00 UTC', 20628.497, 17237.007],
  ['Jan 15, 2023 09:51:00 UTC', 20639.4289, 17246.1416],
  ['Jan 15, 2023 09:57:00 UTC', 20709.353, 17304.5697],
  ['Jan 15, 2023 10:02:00 UTC', 20726.49, 17318.8893],
  ['Jan 15, 2023 10:07:00 UTC', 20719.1103, 17312.7228]],
 295)

In [10]:
import pandas as pd
df = pd.DataFrame(data = dataset,columns = ["Time","USD","GBP"])
df.head()

                        Time         USD         GBP
0  Jan 15, 2023 09:46:00 UTC  20628.4970  17237.0070
1  Jan 15, 2023 09:51:00 UTC  20639.4289  17246.1416
2  Jan 15, 2023 09:57:00 UTC  20709.3530  17304.5697
3  Jan 15, 2023 10:02:00 UTC  20726.4900  17318.8893
4  Jan 15, 2023 10:07:00 UTC  20719.1103  17312.7228

In [18]:
def find_extremes(x):
    min = max = x[0]
    for val in x[1:]:
        if val < min: 
            min = val 
        else: 
            if val > max:
              max = val
    return min,max

In [19]:
print("Minimum and maximum rate in USD:" ,find_extremes(df.USD.values))
print("Minimum and maximum rate in USD:" ,find_extremes(df.GBP.values))

Minimum and maximum rate in USD: (20628.497, 21379.9695)
Minimum and maximum rate in USD: (17237.007, 17864.9314)